.container{
    background:linear-gradient(0deg, rgba(0, 1, 2, 0.7),rgba(0, 0, 0, 0)), url(./assets/bg.png);;

    width:100%;
    height:100vh;
  }
  body{
    margin:0;
    font-family: poppins;
    font-size: 16px;
  }
  nav.navbar {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 80px;
    background: #000;
    align-items: center;
    color: #fff;
    position: relative;
}
nav.navbar div:last-child{
    position: absolute;
    right: 5%;
}
button.button-small {
    background: #BB0EC5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-family: poppins;
}
button.button-large {
    background: #BB0EC5;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    font-family: poppins;
    line-height: 30px;
}
ul.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
.line {
    border: 1px solid #ffff;
    height: 50px;
}
.grow-list, img.logo{
    width: 50%;
}
section:last-child{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 10%;
}
h1.hero-heading {
    color: #fff;
    font-size: 76px;
    line-height: 86px;
    width: 55%;
    margin: 0 auto;
}
p.hero-description {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
}
ul.list li:first-child.list-item:after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
   margin-left:6px;
    content: "";
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}